html{
    cursor: url("leaf.png"), auto;
}

body{
    cursor: url("leaf.png"), auto;
    font-family: 'IBM Plex Serif';
    color: rgb(0, 52, 24);
    background-color: #E6FFDE;
    position: relative;
}

body a{
    text-decoration: none;
    color: rgb(0, 52, 24);
}

.head{
    display: flex;
    justify-content: space-around;
}

.siteName{
    font-size: 40px;
}

.intro{
    font-size: 20px;
}

.intro p {
    margin-right: 350px;
}

.mainPlant{
    float: right;
}

.mainPlantReverse{
    float: left;
}

nav{
    position: sticky;
    top: 0px;
    background-color:rgb(69, 196, 114);
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    gap: 10px;
    font-size: 2rem;
    padding: 0.5rem;
}
nav a{
    border-style: dashed;
    border-color: rgba(69, 196, 114,0);
}

nav a:hover{
    background-color: rgb(117, 231, 157);
    border-color: rgba(69, 196, 114,100);
}

.navigation{
    position: sticky;
    top: 0;
}

footer{
    background-color: rgb(117, 231, 157);
    width: 100%;
    position: absolute;
    left: 0;
    height: 60px;
    bottom: -8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.right{
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin-right: 5%;
}

.left{
    margin-left: 5%;
}

.typeList{
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-width: 3px;
    border-color: rgb(69, 196, 114);
    background-color: rgb(69, 196, 114);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    font-size: 25px;
    z-index: 2;
    opacity: 0;
}

.semper{
    margin-top: 70px;
}

.moneytree{
    margin-top: 70px;
}

.menu{
    display: none;
}

@media (max-width: 800px){
    body{
        position: relative;
        margin-right: 0;
    }
    nav{
        position: fixed;
        height: 100vh;
        background-color: rgb(117, 231, 157);
        width: 200px;
        margin-top: 0;
        padding: 10px;
        display: flex;
        flex-direction: column;
        transform: translateX(230px);
        transition: transform .5s ease-in-out;
    }
    .typeList{
        position: fixed;
        background-color: rgb(69, 196, 114);
        width: 200px;
        margin-top: 0;
        padding: 10px;
        display: none;
        flex-direction: column;
        top:33%;
        right: 0;
        transition: transform .5s ease-in-out;
    }
    .navigation{
        position: relative;
        
    }
    .menu{
        display: block;
        transition: transform .5s ease-in-out;
        position: fixed;
        top: 0;
        right: 2%;
    }
    
    nav.active{
        transform: translateX(0);
    }
    .menu.active{
        transform: translateX(-220px);
    }
    .navigation{
        position: relative;
        display: flex;
        justify-content: flex-end;
    }
   
    footer{
        bottom: -2%;
    }
}

@media (max-width: 500px){
    footer{
        flex-direction: column;
        height: fit-content;
    }

    .left{
        margin-bottom: 1em;
    }

    .right{
       flex-direction: column;
       gap: 10px; 
    }
}